{
  "name": "{{short}}",
  "$schema": "../../../node_modules/nx/schemas/project-schema.json",
  "projectType": "library",
  "sourceRoot": "libs/plugins/{{short}}/src",
  "tags": ["scope:plugin"],
  "targets": {
    "deploy-dev": {
      "executor": "nx:run-commands",
      "options": {
        "commands": [
          "mkdir -p apps/shell/public/plugins/{{id}}",
          "cp libs/plugins/{{short}}/src/main.js apps/shell/public/plugins/{{id}}/index.js",
          "cp libs/plugins/{{short}}/ventix.plugin.json apps/shell/public/plugins/{{id}}/ventix.plugin.json"
        ],
        "parallel": false
      }
    }
  }
}
